.slider-wrapper {
    position: relative;
    height: 70vh;
    margin: 50px auto 0;
    max-width: 1200px;
    padding: 0 15px;
    background-color: #18b1ae;
    // BEGIN images
    .slider {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        max-width: 602px;
        // border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        .track {
            position: relative;
            // &:after {
            //     content: '';
            //     display: block;
            //     clear: both;
            // }
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            .slide {
                position: relative;
                width: 200px;
                height: 160px;
                display: flex;
                justify-content: center;
                transition: all ease 1s;
                // left: -200px;
                .circle {
                    width: 160px;
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 145px;
                        height: 145px;
                        top: 3px;
                        border-radius: 50%;
                        border: 5px solid rgba(255, 255, 255, 0.5);
                    }
                    &--white {
                        &:before {
                            border: 5px solid rgba(255, 255, 255, 1);
                        }
                    }
                    img {
                        position: absolute;
                        left: -3px;
                        top: -7px;
                        z-index: 1;
                        width: 160px;
                        height: 160px;
                        object-fit: contain;
                        transition: all .2s ease-in-out;
                        &:hover {
                            transform: scale(1.1)
                        }
                    }
                }
            }
        }
    }
    // END images
    // BEGIN buttons
    .btn-next {
        right: 15px;
    }
    .btn-next,
    .btn-prev {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        padding: 9px 10px;
        border-radius: 5px;
        border: 1px solid #fff;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 20px;
        color: #fff;
        transition: background-color 0.3s;
        outline: none;
        &:hover {
            color: #18b1ae;
            background-color: #fff;
        }
        .icon-arrow-left,
        .icon-arrow-right {
            width: 20px;
            height: 13px;
            fill: #fff;
        }
        &:hover .icon-arrow-left,
        &:hover .icon-arrow-right {
            fill: #18b1ae;
        }
    }
    // END buttons
}